.tweet-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #1c1c1c;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}

.tweet-user-info {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
}

.tweet-images-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  height: 200px;
  border: 1px solid #1c1c1c;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.tweet-image {
  flex-basis: 50%;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.tweet-text-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.74);
}

.tweet-video-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  height: 200px;
  border: 1px solid #1c1c1c;
  border-radius: 20px;
  overflow: hidden;
  flex-wrap: wrap;
}

.tweet-video-container video {
  width: 100%;
  height: 100%;
}
.tweet-date-container {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #47525d;
  font-size: 10px;
}

.tweet-user-profile {
  border: 1px solid #979797;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
}

.tweet-user-name-container {
  color: white;
  margin-left: 8px;
}
.tweet-user-fullname {
  font-size: 10px;
  line-height: 16px;
}

.tweet-user-username {
  font-size: 8px;
}
